.weather-box {
  background-color: rgba(50, 50, 50, 0.7);
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  text-align: right;
}

.weather-box > div {
  margin-bottom: 10px;
}

.temperature {
  border-right: 1px solid white;
  padding: 0px 5px;
}

.weather {
  font-size: 1.2rem;
}
